
.card{
    width: 250px; height: 310px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px; overflow: hidden;
    position: relative;
}

.card img{
    width: 100%; height: 210px;
    object-fit: cover; object-position: bottom;
}

.card .data-container{
    width: 100%; height: 100px; padding: 15px;
}
.card .data-container>h4{
    color: #333; font-weight: 600; padding-bottom: 2px; font-size: 16px;
}
.card .data-container .owner{
    color: #777; font-weight: lighter; padding-bottom: 7px; font-size: 13px;
}
.card .data-container .views-time{
    color: #444; font-weight: normal; font-size: 15px;
}

.card .play-button{
    width: 50px; height: 50px; background-color: #fff;
    position: absolute; right: 20px; top: 185px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 0; border-radius: 50%; font-size: 20px;
    display: flex; justify-content: center; align-items: center;
    cursor: pointer; transition: all 0.3s; color: var(--brand);
}
.card .play-button:hover{
    transform: scale(1.05); box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.12);
}

.card .perion-budge{
    width: 55px; height: 25px; border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.465); color: white;
    position: absolute; right: 15px; top: 15px; font-size: 13px;
    display: flex; justify-content: center; align-items: center;
}








