
.nav-bar{
    width: 100%; height: 70px; border-bottom: 1px solid #ddd;
    position: sticky; top: 0; z-index: 10; background-color: #f5f4f4;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between; align-items: center;
}

.nav-bar .search-box{
    width: 50%; height: 100%;
    position: relative;
}
.nav-bar .search-box input{
    width: 100%; height: 100%; background-color: transparent;
    position: absolute; left: 0; top: 0; border: 0; border-radius: 0;
    padding: 0 30px 0 90px; font-size: 17px;
}
.nav-bar .search-box input:focus{ border: 0; outline: 0; background-color: #fff; }
.nav-bar .search-box input::placeholder{ color: #888; }
.nav-bar .search-box input:focus::placeholder{ color: #666; }
.nav-bar .search-box input:focus + ion-icon{ color: #666; }
.nav-bar .search-box ion-icon{
    font-size: 28px; color: #888;
    position: absolute; left: 50px; top: 50%;
    transform: translate(0, -50%);
}

.nav-bar .other-links{
    width: 18%; height: 100%;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center; gap: 30px;
}
.nav-bar .other-links button{
    background-color: transparent; border: 0; border-radius: 0;
    font-size: 17px; cursor: pointer; padding: 0 10px;
}

.nav-bar .notification-button{
    width: 6%; height: 100%; cursor: pointer;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center;
}
.nav-bar .notification-button ion-icon{ position: relative; color: #666; font-size: 25px; contain: unset; }
.nav-bar .notification-button ion-icon::before{
    content: attr(data-count); font-size: 10px; color: white;
    min-width: 14px; min-height: 14px; background-color: rgb(235, 0, 0);
    position: absolute; right: -2px; top: -4px; border-radius: 14px;
    display: flex; justify-content: center; align-items: center;
    outline: 1px solid #eee;
}

.nav-bar .action-buttons{
    width: 26%; height: 100%;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-evenly; align-items: center;
}
.nav-bar .action-buttons button{
    width: 40%; height: 40px; font-size: 17px; transition: all 0.3s;
    color: white; cursor: pointer; border: 0; border-radius: 4px;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center; gap: 5px;
}
.nav-bar .action-buttons button:first-of-type{ background-color: var(--shade); color: var(--brand); }
.nav-bar .action-buttons button:first-of-type:hover{ background-color: var(--brand); color: white; }
.nav-bar .action-buttons button:last-of-type{ background-color: var(--brand); }
.nav-bar .action-buttons button:last-of-type:hover{ background-color: white; color: var(--brand); box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2); }
.nav-bar .action-buttons button ion-icon{ font-size: 23px; }



