
.public-section{
    width: 100%; overflow: hidden; padding: 30px 50px; margin-top: 10px;
}

.public-section .section-top{
    width: 100%; height: 50px; padding: 0 2px;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between; align-items: flex-start;
}
.public-section .section-top h3{
    font-size: 22px; font-weight: normal; color: #222;
}
.public-section .section-top button{
    width: 35px; height: 35px; background-color: var(--brand);
    border: 0; border-radius: 50%; margin: 5px; color: white;
    font-size: 22px; cursor: pointer; transition: all 0.3s;
    display: inline-flex; justify-content: center; align-items: center;
}
.public-section .section-top button:hover{
    background-color: #fff; color: var(--brand);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
}


.public-section .carousel{ padding: 0 0 10px 0; }
.public-section .carousel .swiper-button-prev, .public-section .swiper-button-next{ visibility: hidden; }


