
.side-bar{
    width: 240px; height: 100%;
    background-color: #fff;
    position: fixed; left: 0; top: 0;
    border-right: 1px solid #ccc;
    overflow-y: auto; overflow-x: hidden;
    z-index: 10;
}
.side-bar::-webkit-scrollbar{ width: 3px; }
.side-bar::-webkit-scrollbar-track{ width: 3px; background-color: transparent; }
.side-bar::-webkit-scrollbar-thumb{ width: 3px; background-color: #999; border-radius: 3px; }

.side-bar .landing-page-button{
    width: 100%; height: 70px; border-bottom: 1px solid #ddd;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center; gap: 10px;
    cursor: pointer; position: sticky; top: 0;
    background-color: #fff; z-index: 10;
}
.side-bar .landing-page-button ion-icon{
    color: var(--brand); font-size: 30px;
}
.side-bar .landing-page-button h2 span{
    color: #666; font-weight: lighter;
}

.side-bar .profile-button{
    width: 100%; padding: 25px 15px; overflow: hidden;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center; gap: 10px;
    cursor: pointer;
}
.side-bar .profile-button img{
    width: 45px; border-radius: 4px;
}
.side-bar .profile-button h3{
    font-size: 16px;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center; gap: 5px;
}
.side-bar .profile-button h3 ion-icon{
    font-size: 20px; color: #555;
}
.side-bar .profile-button p{ color: #666; font-size: 14px; }

.side-bar .side-button, .side-bar .section-top{
    width: 100%; height: 50px; margin: 0 0 5px 0;
    cursor: pointer; position: relative;
    transition: all 0.2s;
}
.side-bar .side-button ion-icon{
    font-size:  24px; color: #666;
    position: absolute; left: 10%; top: 50%;
    transform: translate(0, -50%);
    transition: inherit;
}
.side-bar .side-button span{
    font-size:  17px; color: #333;
    position: absolute; left: 28%; top: 50%;
    transform: translate(0, -50%);
    transition: inherit;
}
.side-bar .side-button.active{ background-color: var(--shade); }
.side-bar .side-button.active ion-icon, .side-bar .side-button.active span{ color: var(--brand); }
.side-bar .side-button:hover{ background-color: var(--shade); }
.side-bar .side-button:hover ion-icon, .side-bar .side-button:hover span{ color: var(--brand); }

.side-bar .section-top{ cursor: default; }
.side-bar .section-top span{
    color: #666; font-size: 16px;
    position: absolute; left: 10%; top: 50%;
    transform:  translate(0, -50%);
}
.side-bar .section-top button{
    width: 35px; height: 25px; color: #666; font-size: 20px;
    position: absolute; right: 10%; top: 50%; cursor: pointer;
    transform:  translate(0, -50%); border: 1px solid #ddd;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: center; align-items: center;
    background-color: transparent; border-radius: 3px;
}

.side-bar .invite-button{
    width: 80%; height: 40px; background-color: var(--brand);
    color: white; cursor: pointer; border: 0; border-radius: 4px;
    font-size: 17px; margin: 20px 10% 35px 10%;
    transition: all 0.3s;
}
.side-bar .invite-button:hover{
    color: var(--brand); background-color: white;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
}









